[alias]
	br = branch
	ca = commit --amend --no-edit
	cm = commit
	co = checkout
	cp = cherry-pick
	fe = fetch
	lo = log
	pu = push
	re = rebase
	sh = show
	st = status
	mr = merge --no-ff

[color]
	branch = off
	diff = off
	status = off
	log = off

[user]
	email = osm@recv.se
	name = Oscar Linderholm
	signingkey = 735814EB58ED582B

[push]
	default = current

[commit]
	gpgsign = true
