[alias]
	br = branch
	cm = commit
	co = checkout
	cp = cherry-pick
	st = status
	re = rebase
	pu = push
	fe = fetch
	lo = log

[color]
	branch = auto
	diff = auto
	status = auto

[user]
	email = osm@recv.se
	name = Oscar Linderholm
	signingkey = F121B3010AE7F254

[push]
	default = current

[commit]
	gpgsign = true
